@import "tailwindcss";

/* 
  Enable class-based dark mode in Tailwind v4.
  This custom variant tells Tailwind to apply `dark:` styles when the `.dark` class is present on a parent element.
*/
@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

/*
  The default theme is no-preference which results in light theme
  We use 'dark' class to apply dark theme variables
*/
:root {
  --background: #ffffff;
  --foreground: #171717;
}

.dark {
  --background: #0a0a0a;
  --foreground: #ededed;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}
